body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    background: linear-gradient(145deg, #1e1e1e, #2c2c2c);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #f0f0f0;
}

.card-title {
    color: #ffd700;
    font-weight: bold;
    font-size: 1.2rem;
}

.sensor-value {
    font-size: 2rem;
    font-weight: bold;
    color: #00ffff;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffd700;
    font-weight: bold;
}

.small-text {
    color: #a0a0a0;
}

#sensorChart {
    width: 100% !important;
    height: 500px !important;
    /* ปรับความสูงตามชอบ */
}

#terminal {
    background-color: #000;
    padding: 1rem;
    height: 80vh;
    overflow-y: auto;
    border-radius: 5px;
}

.log-dht {
    color: #33ff57;
}

.log-rain {
    color: #ffdd33;
}